#directories
build
HMI/node_modules
HMI/coverage
*.o
*.d
*.atsuo
node_modules/
/HMI-copy/
Hexapodcpp
clang-tidy-report/
coverage-report/
coverage.info
/cppcheck-report.xml
cppcheck_html
clang-tidy-report/report.txt