body {
    background-color: #555;
    color: #eee;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#console {
    overflow-y: scroll;
    font-size: 14px;
    max-height: 33vh;
}

#gui {
    position: absolute;
    top: 78px;
    left: 0px;
}

#myCompass {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 78px;
    right: 0px;
    z-index: 1000;
}

#console .list-group-item:hover {
    background-color: #a4cce7;
}

.console-date {
    background-color: #18415c;
}

.console-direction {
    background-color: #18415c;
}

.console-direction-rx {
    background-color: #32ac32;
}

.console-direction-rx-nack {
    background-color: #eb0e0e;
}

.console-direction-rx-async {
    background-color: #cf8e38;
}

.console-direction-tx {
    background-color: #323eac;
}

.console-direction-tx-timeout {
    background-color: #f701ff;
}

.console-number-messages-rx {
    color: #32ac32;
}

.console-number-messages-tx {
    color: #6c56bd;
}

.console-number-messages-timeout {
    color: #f701ff;
}

.console-direction-rx-reset {
    background-color: #5a01ff;
}

.console-raw {
    background-color: #2175ad;
}

.console-cluster {
    background-color: #454ea3;
}

.console-command {
    background-color: #2d777c;
}

.console-param {
    background-color: #86804b;
}

.treeview .list-group-item {
    cursor: pointer
}

.treeview span.indent {
    margin-left: 10px;
    margin-right: 10px
}

.treeview span.icon {
    width: 12px;
    margin-right: 5px
}

.treeview .node-disabled {
    color: silver;
    cursor: not-allowed
}

.node-treeview1 {
}

.node-treeview1:not(.node-disabled):hover {
    background-color: #F5F5F5;
}


/*
background-color: #2c6729;
.main-container .console .console-item.tx {
    background-color: #18415c;
}

.main-container .console .console-item:not(.tx):not(.response) {
    background-color: #5a1d1d;
}

.main-container .console .console-item.nack {
    background-color: #c73d3d;
}*/